/*	mailTips v0.1
**	ah.yiru@gmail.com
**	https://github.com/ahyiru/mailTips
*/
#mymail>ul{
list-style:none;
margin:0;
padding:0;
border:1px solid #ccc;
background:#eee;
opacity:.8;
position:absolute;
z-index:1000;
}
#mymail li{
padding:3px 2px;
}
.mail-sel{
background:#aaa;
}